$dark-blue: #13293d;
$light-blue: #216baf;
$light-white: #eee;
$light-red: #c02739;
$bg-light-red: rgba(255, 0, 0, 0.1);
// green
$light-green: #09814bec;
$bg-light-green: rgba(0, 255, 0, 0.1);
$light-white: #f9f6f7;

$fuente: "Raleway", sans-serif;
